
<html>
    <head>
        <title><%=title %></title>
    </head>
    <body>
        <h1>Welcome to <%=title %></h1>
        <p>You can do</p>
        <ul>
            <%for(var i=0; i<list.length; i++) {%>
            <li><%=list[i]%></li>
            <%}%>
        </ul>
    </body>
</html>